@model FTAPWeb.User

@{
    ViewBag.Title = "StudentDashboard";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div id="middle">
            <div>@ViewBag.UserDetails.FirstName</div>
            <div class="clear"></div>
            <div class="dashboard_cont">
                <div class="dashboard_box">
                    @Html.ActionLink("STUDENT INFORMATION", "StudentInformation")
                	@*<a href="javascript:void(0);">COMPANY INFORMATION</a>*@
                </div>
                <div class="dashboard_box">
                	@*<a href="javascript:void(0);"></a>*@
                    @Html.ActionLink("Personalization", "StudentPersonalisation")
                </div>
                <div class="dashboard_box">
                	<a href="javascript:void(0);">Your Events</a>
                </div>
                <div class="dashboard_box">
                    @Html.ActionLink("ACCOUNT SETTINGS", "StudentAccountSetting")
                	@*<a href="javascript:void(0);">Account Settings</a>*@
                </div>
      		</div>
      </div>
