@model FTAPWeb.User

@{
    ViewBag.Title = "TAPD";
    Layout = "~/Views/Shared/_TAPDLayoutPage.cshtml";
}

<div class="interest_outr">
    <div class="interest_heading_main">

        <p style="text-align:center">Congratulations!! <b><u>@Model.EmailId</u></b>, You have been successfully registered with TAPD.</p>

    </div>
</div>